{% extends "base.html" %}

{% block content %}
<div class="row" style="padding-top:100px">
    <div class="row justify-content-center">
      <div class="col-8 p-3">
          <h1 class="text-center">About This Research</h1>
          <p class="fs-5 text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean imperdiet eros at neque mollis interdum. Quisque at porta mi. Suspendisse potenti. Sed at odio id neque venenatis ullamcorper. Cras ac quam eu libero mattis venenatis quis sed risus. Nulla non ante eget risus vestibulum feugiat. Nullam venenatis consequat aliquam. Fusce mattis dolor tellus, in fringilla elit faucibus sed. Integer tristique, tellus non fermentum porta, purus libero blandit urna, sit amet tincidunt massa turpis ut ex. Fusce sit amet facilisis nibh, vel interdum purus. Duis facilisis ornare porttitor.
          </p>
      </div>
{% endblock %}