<header>
    <div class="collapse bg-light fixed-top" id="navbarHeader">
      <div class="container">
        <div class="row" style="padding-top:56px">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-dark">Revolutionizing Dance Choreography with AI</h4>
            <p class="text-muted">Traditional methods of choreography rely heavily on human intuition and artistic
              perception, making it a time-consuming and sometimes subjective process. "Break My Choreo" addresses this
              inefficiency by incorporating AI algorithms to dissect dance routines into quantifiable metrics.
              <a href="{% url 'about' %}"> Read about our methodologies.</a></p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-dark">Hi username</h4>
            <ul class="list-unstyled">
              <li><a href="{% url 'dashboard' %}" class="text-dark">My Performance Archive</a></li>
              <li><a href="{% url 'reports_dashboard' %}" class="text-dark">My Reports</a></li>
              <li><a href="{% url 'account_personal_settings' %}" class="text-dark">My Account</a></li>
              <li><a href="{% url 'account_sign_in' %}" class="text-dark">Sign Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-light bg-light fixed-top">
      <div class="container">
        <a href="{% url 'dashboard' %}" class="navbar-brand d-flex align-items-center">
          <img
            src="https://img.icons8.com/android/48/biotech.png"
            width="20" height="20" style="margin-right:5px">
          <strong>DanceCyrpt</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>